*{
    font-family: 'Courier New', Courier, monospace;
}

h1{
    color: blue;
}

#searchbtn{
    color: white;
    background-color: black;
}

/* #login, #register{
    background-color: aqua;
}*/

.userbtn{
    background-color: aqua;
}
