h1{
    color: #ff00ff;#000000;
    background-color: #ffff00
}

h2{
    color:#ffff00;
    background-color:#0000ff;
}

p{
    color:#000000;
    background-color:#ff00ff;
}

button{
   color: #ffffff;
   background-color: #000000;
}