div{
    width: 400px;
    text-align: center;
    height: 200px;
    background-color: #7aa874; 
    margin: 10px auto;
    background-image: url("MUNNA.jpg");
     background-size: cover;
   /* background-size: contain;*/
    /*background-size: auto;*/
  
   
}