div{
    height: 200px;
    width: 500px;
    background-color: pink;
   /*border width: 5px;
    border-style: solid;
    border-color: black;*/

    /*border:05px dashed black;*/

    border-radius: 15px;

    margin:20px;
    margin-left:50px;
    margin-bottom:30px;
}

h1{
    /*border-width: 3px;
    border-style: solid;
    border-color: red;*/
    
    border: 5px solid red;

    border-left-color: blue;
    border-left-style: dashed;
    border-top: 10px dashed blue;
    border-radius: 10px;
}
button{
    border: 3px solid red;
    border-radius: 10px;
    padding: 25px;
    padding: 20px 25px;
    padding: 10px 15px  20px;
    padding: 10px 20px 30px 40px;
}