#container{
    height: 600px;
    width: 80%;
    background-color: aqua;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
}

#org{
    align-self: flex-start;
    /*flex-basis: 50px;*/
    flex-shrink: 1;
}

#blue{
    flex-grow: 2;;
}

h1{
    text-align: center;
}

#container div{
    height: 100px;
    width: 300px;
    color: white;
    text-align: center;
    font-size: 1.5em;

}